* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #CFE3F8;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

.feed-container, .slick-list, .slick-track {
    height: 100%;
}

.slick-arrow {
    display: none;
}

.slick-dots {
    bottom: 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.slick-slide.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.slick-dots {
    bottom: 25px;
}

.slick-dots li button:before {
    font-size: 9px;
}

.article .title {
    color: #00589D;
    max-width: 70%;
    text-align: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    bottom: 25px;
    left: 25px;
}

.logo-url {
    margin-left: 20px;
}

#logo {
    background-image: url('./ycommuters-logo.png');
    background-size: contain;

    height: 100px;
    width: 300px;
}

.qr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 25px;
    right: 25px;
}

#qr {
    background-image: url('./ycommuters-qr.png');
    background-size: contain;

    height: 150px;
    width: 150px;
}

.article-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.article-content .author-picture {
    display: none;
    position: relative;
    height: 160px;
    width: 160px;

    border-radius: 50%;
    border: 3px solid #00589D;
}

.author-text {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-left: 15px;
}

.recommended-by, .date {
    font-size: 0.9em;
}

.username {
    font-style: italic;
    color: #00589D;
    font-size: 1em;
}
